<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9869b7">  <td>21/04/19 13:12:49</td>   <td>0</td> <td title="&lt;&lt;baseT.closingBrowser()[pri:0, instance:resources.baseT@619713e5]">&lt;&lt;closingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="9a82a9">  <td>21/04/19 13:12:48</td>   <td>-442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="homePageTest.homeValidatingLogin()[pri:0, instance:testsOrangeHRMLive.homePageTest@6a192cfe]">homeValidatingLogin</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>21/04/19 13:12:40</td>   <td>-8679</td> <td>&nbsp;</td><td title="&gt;&gt;baseT.initBrowser()[pri:0, instance:resources.baseT@619713e5]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="736495">  <td>21/04/19 13:12:46</td>   <td>-3079</td> <td>&nbsp;</td><td title="&gt;&gt;loginPageTest.logInPageObject()[pri:0, instance:testsOrangeHRMLive.loginPageTest@2c767a52]">&gt;&gt;logInPageObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="736495">  <td>21/04/19 13:12:46</td>   <td>-3028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginPageTest.loginTest()[pri:0, instance:testsOrangeHRMLive.loginPageTest@2c767a52]">loginTest</td> 
  <td>main@2044903525</td>   <td></td> </tr>
<tr bgcolor="736495">  <td>21/04/19 13:12:46</td>   <td>-3042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginPageTest.loginValidatingSite()[pri:0, instance:testsOrangeHRMLive.loginPageTest@2c767a52]">loginValidatingSite</td> 
  <td>main@2044903525</td>   <td></td> </tr>
</table>
